.footer__page-author {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

@media screen and (min-width: 768px) {
    .footer__page-author {
        line-height: 16px;
        text-align: right;
    }
}