.content {
    box-sizing: border-box;
    width: 100%;
    padding: 48px 0 64px;
    display: grid;
    justify-items: center;
    row-gap: 64px;
}

@media screen and (min-width: 768px) {
    .content {
        padding: 48px 0 88px;
        row-gap: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        padding: 48px 0 92px;
        row-gap: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .content {
        padding-top: 56px;
    }
}