.intro {
    box-sizing: border-box;
    padding: 0 16px;
    max-width: 928px;
}

@media screen and (min-width: 768px) {
    .intro {
        padding: 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        padding: 0 calc(286px - 48px) 0 0;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        padding-right: calc(442px - 148px);
        max-width: 984px;
    }
}