.footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    width: 100%;
    max-width: 1184px;
    padding: 0 16px 24px;
    justify-self: flex-start;
}

@media screen and (min-width: 768px) {
    .footer {
        justify-self: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 24px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 0 48px 24px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        padding: 0 0 24px;
    }
}