.intro__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    padding-bottom: 34px;
}

@media screen and (min-width: 768px) {
    .intro__description {
        padding-bottom: 33px;
    }
}